.hand {
    height: 222px;
    width: 366px;
    margin: 20px;
    padding: 20px;
    display: inline-table;
}

.card {
    font-size:16px;
    margin: 5px;
    color : #00A000;
}

.dealer {
   border: 1px solid gray
}

.black {
    animation : colorBlack 3s forwards;
}

.red {
    animation : colorRed 3s forwards;
}

.green {
    animation : colorGreen 3s forwards;
}

.redPulse {
    animation : colorRed 0.7s alternate infinite;
}

@keyframes colorBlack {
    100% {color: black;}
}

@keyframes colorRed {
    100% {color: red;}
}

@keyframes colorGreen {
    100% {color: rgb(12,199,12);}
}


